// Responsive
// from desktop 1200px to 991px
@media screen and (max-width: 1200px) {
  // header
  .search {
    display: none;
  }
  // header end
  // blog page
  .blog-masonry {
    .grid {
      margin: 0 auto;
    }
  }
  .blog-itineraries-main {
    .blog-detail-pop {
      min-width: auto;
      width: auto;
    }
  }
  .onway-imgholder { height: auto; }
  // blog page end
  // booking
  .search-detail-holder {
    .search-city-holder { width: 28%; }
    .date-holder { width: 29%; }
    .stay-search-holder { width: 43%; }
  }
  .stay-holder { width: 75%; }
  .search-holder { width: 25%; }
  // filter
  .sec-hotel-result { width: 15%; }
  .sort-by { width: 47%; }
  .hotel-search-filter { width: 38%; }
  // hotel  section
  .col-hotel-info.col-flex-1-5 { @include flex(1.5); }
  // hotel  section end
  .hotel-details .ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 10px 28px; }
  .deal-list {
    .table > thead > tr > th { vertical-align: top; }
  }
  // booking end
}
// from desktop 1200px to 991px end
// from 991px to 767px
@media screen and (max-width: $screen-sm-max) {
  // header
  header {
    padding: 10px 0 0;
    .logo { margin-top: 4px; }
  }
  .user-detail {
    .list-inline {
      li {
        padding: 0px 9px;
        font-size: 15px;
        &:last-child { padding: 0px 0px 0px 9px; }
      }
    }
  }
  .user-img {
    width: 33px;
    height: 35px;
    border-radius: 12px;
  }
  // header end
  // blog page
  .popular-blog  {
    width: 349px;
    margin: 0 auto 25px;
  }
  .popular-imgholder { height: 240px; }
  .plugin-fb, .plugin-twitter { text-align: center; }
  // blog page end
  // blog detail page
  .blog-journey-detail {
    padding: 25px 30px;
  }
  .you-may-like {
    .grid { margin: 0 auto; }
  }
  .previous-blog, .next-blog {
    .row-flex { display: block; }
    .col-flex { flex: auto }
  }
  .recent-blog {
    .recent-blog-imgholder {
      width: 600px;
      height: 230px;
      margin: 0 auto;
      img {
        margin: 0 auto;
      }
    }
    .recent-blog-detail {
      width: 450px;
      margin: 0 auto;
    }
  }
  .previous-blog, .next-blog {
    margin: 30px 0;
    text-align: left;
  }
  // blog detail page end
  // booking
  .hotel-view-section {
    .row-flex { display: block; }
    .col-flex { @include flex(auto); }
  }
  .search-filter-main {
    position: relative;
    z-index: 4;
    background-color: $brand-blue;
  }
  .sort-category {
    padding: 15px;
    background-color: #fff;
  }
  .stay-holder {
    .col-flex { text-align: center; }
  }
  .hotel-result { text-align: right; }
  .search-hotel-bar {
    width: 75%;
    display: inline-block;
    .search-hotel {
      padding: 10px 0 10px 15px;
      input {
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        @include placeholder {
          color: #fff;
        };
      }
    }
  }
  .list-filter-search {
    width: 25%;
    margin-left: -4px;
    display: inline-block;
    .list-inline {
      margin: 0;
      text-align: right;
      > li {
        min-width: 47px;
        padding: 18px 15px;
        border-left: 1px solid #fff;
        margin-left: -4px;
        position: relative;
        cursor: pointer;
        text-align: center;
        &:after {
          content: '';
          border-top: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #fff;
          border-left: 12px solid transparent;
          display: block;
          opacity: 0;
          @include position(absolute, null null -1px 50%);
          @include transform(translateX(-50%));
        }
      }
      .list-icon {
        font-size: 18px;
      }
    }
  }
  // filter bar for mobile
  // search mobie
  .search-mobile {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    z-index: 2;
    display: none;
  }
  .search-detail-holder {
    padding: 20px 15px 0;
    margin-bottom: 0;
    .search-city-holder { width: 100%; }
    .stay-holder {
      width: 100%;
      padding-right: 0;
    }
    .input-holder  {
      border: 1px solid #ebebeb;
      border-radius: 6px;
      margin-bottom: 20px;
    }
  }
  #search-click.view-caret {
    &:after { opacity: 1; }
  }
  #filter-click.view-caret {
    &:after { opacity: 1; }
  }
  #map-click.view-caret {
    &:after { opacity: 1; }
  }
  // search mobie end
  .filter-main-sec {
    top: 60px;
    z-index: 2;
  }
  .clear-all { margin-bottom: 20px; }
  .dropdown-holder {
    margin-bottom: 20px;
    text-align: left;
  }
  .filter-first-bar, .filter-second-bar { margin: 0; }
  .result-bar-filter { text-align: left; }
  .range-slider .ui-slider-handle.ui-corner-all.ui-state-default #min {
    top: 18px !important;
    left: 0 !important;
  }
  #mapBooking {
    width: 100%;
    position: absolute !important;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
    // display: block;
    img { opacity: 1; }
  }
  // position given only for map (delete if needed)
  .search-bar-field {
    position: relative;
    z-index: 4;
  }
  // position given only for map end
  .range-slider .ui-slider-handle.ui-corner-all.ui-state-default #maxMob { left: -45px !important; }
  // filter bar for mobile end
  .hotel-card-list { margin-right: 0; }
  .popular-destination-holder {
    .dest-country-name {
      font-size: 25px;
    }
  }
  .amenities-holder {
    ul { margin-bottom: 20px; }
  }
  // booking end
}
// from 991px to 767px end
// from 766px to 480px
@media screen and (max-width: $screen-xs-max) {
  // header
  .user-detail {
    margin-top: 10px;
    .list-inline {
      li {
        &:first-child { display: none; }
        padding: 0px 10px;
        &:last-child { padding: 0px 0px 0px 10px; }
      }
    }
  }
  // header end
  // blog page
  .heading-blog { font-size: 24px; }
  .category-blog-select { z-index: 2; }
  .archives-blog-select {
    margin-top: 10px;
    z-index: 1;
  }
  .post-descp {
    .post-title {
      font-size: 16px;
    }
  }
  .blog-post { margin: 10px 0px 20px; }
  .view-blog-archives {
    width: 290px;
    margin-left: -45px;
  }
  .archives-blog-select {
    .blog-archives-list {
      width: 290px;
      margin-left: -45px;
    }
  }
  // blog modal
  .share-modal {
    .modal-content {
      width: 450px;
    }
    .modal-dialog { margin: 0; }
    .modal-main-content .list-inline li { padding: 0px 15px; }
  }
  // blog modal end
  // blog detail
  .blog-detail-heading {
    h3 { font-size: 22px; }
  }
  .blog-journey-detail {
    padding: 20px 0;
    p { font-size: 16px; }
  }
  .blog-social-field { padding: 0; }
  .you-may-like {
    h3 { font-size: 22px; }
  }
  .blog-popular-itineraries h3 { font-size: 22px; }
  .blog-itineraries-main {
    margin: 0 auto;
    .blog-detail-pop {
      min-width: auto;
      width: 395px;
      margin: 40px auto 0;
    }
  }
  .advertise-section img { margin: 0 auto; }
  .blog-comment {
    .share-comment-main {
       .commenter-img { width: 10%; }
       .comment-container { width: 90%; }
       .comment-ur-text { width: 90%; }
    }
  }
  .recent-blog {
    .recent-blog-imgholder { width: 450px; }
  }
  // blog detail end
  // blog page end
  // booking
  .hotel-list-container {
    // height: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
    // overflow: visible;
    // .row { margin: 0; }
    .container-fluid { padding: 0; }
  }
  .search-mobile { top: 44px; }
  .filter-main-sec { top: 44px; }
  #mapBooking { top: 44px; }
  .price-slider { min-height: 70px; }
  .search-hotel-bar {
    width: 70%;
    .search-hotel { padding: 5px 10px 5px 15px; }
  }
  .list-filter-search {
    width: 30%;
    .list-inline > li { padding: 10px 15px; }
  }
  .sort-category {
    padding: 0;
    color: #8a8a8a;
    .sort-list {
      padding: 10px 15px;
    }
  }
  .hotel-result {
    border-top: 1px solid #8a8a8a;
    padding: 10px 15px;
    text-align: left;
  }
  .hotel-card-holder {
    max-height: initial;
  }
  // .hotel-back-view { opacity: 0; }
  .review-progress .progess-last { width: 100%; }
  .slider-hotel .carousel-inner > .item img {
    width: 100%;
    height: auto;
  }
  .list-filter-search {
     .list-inline > li:after {
       border-top: 9px solid transparent;
       border-right: 9px solid transparent;
       border-bottom: 9px solid #fff;
       border-left: 9px solid transparent;
       bottom: -1px;
     }
  }
  .range-slider .ui-slider-handle.ui-corner-all.ui-state-default #max {
    left: -45px !important;
  }
  // booking landing page
  .side-menu { display: none; }
  .vacation-booking-sec { width: 450px; }
  .vacation-booking-form {
    .booking-title { font-size: 45px; }
  }
  .traveller-flex { @include flex(1.5); }
  .hotel-booking-sec {
    width: 450px;
  }
  .person-stay {
    .col-flex { text-align: left; }
    .apply {
      padding: 6px 28px;
      margin-top: 23px;
    }
  }
  // booking landing page end
  .popular-destination-holder {
    .dest-country-name { font-size: 20px; }
    .dest-city-name { font-size: 13px; }
    .flag-dest img { width: 30px; }
  }
  .hotel-content-main{
    .container-fluid {
      padding: 0;
    }
  }
  .popular-destination-sec {
    padding: 0;
    .row-flex { display: block; }
  }
  .destination-heading {
     margin: 0 15px;
     .dest-head { font-size: 27px; }
     .popular-dest-title { font-size: 23px; }
   }
  .popular-destination-holder {
    border-radius: 0;
    margin: 0 0 10px;
  }
  .slider-holder-photo {
    .bx-viewport {
      min-height: 200px;
    }
    .bxslider {
      li {
        width: 300px !important;
      }
    }
  }
  .stay-holder {
    .person-stay {
      .apply {
        margin-top: 5px;
      }
      label {
        min-width: 60px;
      }
    }
  }
  // booking end
}
// from 766px to 480px end
// from 480px to 370px
@media screen and (max-width: 480px) {
  // header
  .hamburger {
    margin: 13px 0;
    span { height: 2px; }
  }
  // .logo {
  //   margin-left: -25px;
  //   img { width: 92px; }
  // }
  .user-header-detail { padding-left: 0; } // it is col-xs-4 of header which is on right
  .user-detail {
    margin-top: 10px;
    .list-inline {
      li {
        padding: 0px 5px;
        &:last-child { padding: 0 0 0 5px; }
      }
    }
  }
  // header end
  // blog page
  .view-blog-category {
    width: 225px;
  }
  .view-blog-archives { width: 225px; }
  .archives-blog-select {
    .blog-archives-list {
      width: 225px;
      margin-left: -45px;
    }
  }
  // .box-imgholder { width: 300px; }
  .box-imgholder { width: 100%; }
  .post-descp {
    .post-title {
      font-size: 15px;
    }
  }
  // .popular-blog { width: 300px; }
  .popular-blog { width: 100%; }
  .popular-imgholder { height: 200px; }
  .box-imgholder { width: 100%; }
  .blog-masonry .grid { width: 100% !important; }
  .masonry-brick.col-sm-6 {
    padding-left: 0;
    padding-right: 0;
  }
  // blog page end
  // blog detail page
  .blog-detail-heading h3 { font-size: 20px; }
  .blog-journey-detail p { font-size: 15px; }
  .you-may-like {
    .grid {
      width: 100% !important;
    }
  }
  .blog-itineraries-main {
    width: 100% !important;
    .blog-detail-pop {
      width: 100%;
    }
  }
  .journey-social .social-share {
    i { font-size: 23px; }
  }
  .blog-social-item {
    .pull-right {
      float: none !important;
      clear: left;
    }
    .social-share {
      margin-top: 10px;
      margin-left: 0;
      i { font-size: 25px; }
    }
  }
  .blog-comment {
    .share-comment-main {
       .commenter-img { width: 15%; }
       .comment-container { width: 85%; }
       .comment-ur-text { width: 85%; }
       .like-reply-line { font-size: 12px; }
    }
  }
  .recent-blog {
    .recent-blog-imgholder {
      height: auto;
    }
  }
  .recent-blog {
    padding: 30px 0 0;
    .recent-blog-imgholder { width: 290px; }
    .recent-blog-detail {
      width: 100%;
      padding: 0 8px;
      margin: 10px 0;
    }
  }
  .blog-view {
    span { font-size: 16px; }
    .icon {
      font-size: 15px;
    }
  }
  // .editor-logo {
  //   img {
  //     width: 60px;
  //   }
  // }
  .editor-subdetail {
    h3 { font-size: 20px; }
  }
  // blog social modal
  .share-modal {
    .modal-content {
      width: 300px;
    }
    .modal-title {
      padding: 15px 0 10px;
      h3 { font-size: 23px; }
      p {
        margin-top: 10px;
        font-size: 15px;
      }
    }
    .close-modal img { width: 18px; }
    .modal-main-content {
      padding: 10px 0;
      .list-inline li { padding: 0px 5px; }
      .list-inline li i { font-size: 24px; }
    }
  }
  // blog social modal end
  // blog detail page end
  // booking
  .search-hotel-bar {
    width: 65%;
  }
  .list-filter-search {
    width: 35%;
    .list-inline {
      > li {
        min-width: 34px;
        padding: 12px 10px;
      }
      .list-icon { font-size: 14px; }
    }
  }
  .sort-category .sort-list { padding: 10px 5px; }
  .hotel-result { padding: 10px 5px; }
  .sort-list i { margin: 0; }
  .slider-hotel {
    height: 200px;
  }
  .hotel-information { padding: 20px 10px 15px; }
  .hotel-chart-main {
    .chart-type-title {
      span { display: block; }
    }
  }
  // booking landing page start
  .search-btn-holder { text-align: center; }
  .vacation-booking-sec {
    width: 300px;
    button {
      width: auto;
      padding: 8px 34px;
    }
  }
  .vacation-booking-form {
    padding: 10px 10px 20px;
    .booking-title {
      font-size: 40px;
    }
    .booking-tag { font-size: 16px; }
    .row-flex { display: block; }
    .col-flex { @include flex(auto); }
    .traveller-flex { @include flex(auto); }
    .travel-text  { margin-right: 40px; }
  }
  .hotel-booking-sec {
    width: 300px;
    .row-flex { display: block; }
    button {
      width: auto;
      padding: 8px 34px;
    }
  }
  .person-stay {
    .col-flex { text-align: center; }
    label { min-width: 60px; }
    .apply {
      margin-top: 0;
    }
  }
  .stay-holder {
    .person-stay {
      .col-flex {
        text-align: center;
      }
      label { display: block; }
      .apply { margin-top: 22px; }
    }
  }
  // booking landing page end
  .destination-heading {
    padding: 20px 0px 10px;
    .dest-head { font-size: 22px; }
    .popular-dest-title {
      margin-top: 15px;
      font-size: 20px;
    }
  }
  .popular-destination-holder {
    .destin-detail { padding: 10px 5px; }
  }
  .slider-holder-photo {
    .bx-viewport {
      min-height: 150px;
    }
    .bxslider {
      li {
        width: 200px !important;
      }
    }
  }
  .photo-slide-imgholder { height: 150px; }
  // booking end
}
// from 480px to 320px end
// Responsive end
