/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.css";
/* Bootstrap Variables Goes Here */
$brand-dark-blue: #2c3757;
$brand-blue: #2d3655;
$brand-dark-pink: #f2675b;
$brand-pink: #ff6759;
$brand-dark-cyan: #57d3c7;
$brand-cyan: #11d3cb;
$brand-light-cyan: #91e2d6;
$brand-grey: #b2b2b2;
$brand-light-grey: #a0a0a0;
$brand-lighter-grey: #e3e3e3;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
// body {
//   padding-top: 70px;
// }
// over-ride
a,
button,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
label:focus,
ol,
p,
select,
span,
textarea,
ul {
  outline: none !important;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 1;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
a:focus,
a:hover {
  text-decoration: none;
}
a.fb-icon:hover {
  color: #3b5998;
}
a.twi-icon:hover {
  color: #55acee;
}
a.google-icon:hover {
  color: #d34836;
}
a.pin-icon:hover {
  color: #cb2027;
}
a.linkedin-icon:hover {
  color: #007bb5;
}
a.mail-icon:hover {
  color: $brand-pink;
}
.pop-close-btn {
  opacity: 1;
  color: #fff;
  font-size: 15px;
  &:hover {
    color: #fff;
    opacity: 1;
  }
}
// scroll down
.mouse-scrolldown {
  position: absolute;
  bottom: 15px;
  left: 50%;
  @include transform(translateX(-50%));
  @extend .avenir-roman;
  font-size: 12px;
  cursor: pointer;
  img {
    width: 15px;
    margin-bottom: 5px;
    @include animation(bounce 2s infinite);
  }
  @include keyframes(bounce) {
    0% {
      @include transform(translate(0%, 0%));
    }
    50% {
      @include transform(translate(0%, 20%));
    }
    100% {
      @include transform(translate(0%, 0%));
    }
  };
}
// scroll down end
// scroll
.scroll-side {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}
// scroll end
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.circle-rounded {
  @include size(45px,48px);
  border-radius: 18px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.flexslider {
  border: none;
  margin: 0;
}
//bootstrap forms
// fonts
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('../fonts/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: "djb";
  src: url('../fonts/djb.ttf');
}
@font-face {
  font-family: "JennaSue";
  src: url('../fonts/JennaSue.ttf');
}
// end fonts
// classes
.avenir-black {
  font-family: "AvenirLTStd-Black";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avenir-heavy {
  font-family: "AvenirLTStd-Heavy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avenir-light {
  font-family: "AvenirLTStd-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avenir-medium {
  font-family: "AvenirLTStd-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avenir-roman {
  font-family: "AvenirLTStd-Roman";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.djb-font {
  font-family: "djb";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jenna-font {
  font-family: "JennaSue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea {
  resize: none;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.m-center {
  margin: 0 auto;
}
.m-clear {
  margin: 0;
}
.relate {
  position: relative;
}
.get-center {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%,-50%));
}
.full-width {
  width: 100%;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.font-lighter {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.v-top {
  vertical-align: top;
}
.v-mid {
  vertical-align: middle;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.pad-zero {
  padding: 0;
}
.col-pad-zero {
  padding: 0;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.color-white {
  color: #fff;
}
.fz12 {
  font-size: 12px;
}
.fz13 {
  font-size: 13px;
}
// end classes
.color-dark-blue {
  color: $brand-dark-blue;
}
.color-blue {
  color: $brand-blue;
}
.color-dark-pink {
  color: $brand-dark-pink;
}
.color-pink {
  color: $brand-pink;
}
.color-dark-cyan {
  color: $brand-dark-cyan;
}
.color-cyan {
  color: $brand-cyan;
}
.color-light-cyan {
  color: $brand-light-cyan;
}
.color-grey {
  color: $brand-grey;
}
.color-light-grey {
  color: $brand-light-grey;
}
.color-lighter-grey {
  color: $brand-lighter-grey;
}
.btn-more {
  padding: 8px 34px;
}
// btn classes
// end btn classes
// bg classes
.bg-white {
  background-color: #fff;
}
.bg-dark-blue {
  background-color: $brand-dark-blue;
}
.bg-blue {
  background-color: $brand-blue;
}
.bg-dark-pink {
  background-color: $brand-dark-pink;
}
.bg-pink {
  background-color: $brand-pink;
}
.bg-dark-cyan {
  background-color: $brand-dark-cyan;
}
.bg-cyan {
  background-color: $brand-cyan;
}
.bg-light-cyan {
  background-color: $brand-light-cyan;
}
// end bg classes
// btn classes
.btn {
  border-radius: 6px;
  @include transition(all 300ms linear);
  &:hover {
    @include transition(all 300ms linear);
  }
}
.btn-dark-pink {
  @include button-variant( white, $brand-dark-pink, $brand-dark-blue);
}
.btn-pink {
  @include button-variant( white, $brand-dark-pink, $brand-dark-pink);
}
.btn-pink-outline {
  @include button-variant( $brand-pink, transparent, $brand-pink);
  &:hover {
    @include button-variant( white, $brand-pink, $brand-pink);
  }
}
.btn-white-outline {
  @include button-variant( white, transparent, white);
  &:hover {
    border-color: #fff;
  }
}
.btn-grey-pink {
  @include button-variant( white, $brand-grey, $brand-dark-blue);
  &:hover {
    @include button-variant( white, $brand-dark-pink, $brand-dark-blue);
  }
}
.btn-dark-blue {
  @include button-variant( white, $brand-dark-blue, $brand-dark-blue);
}
.btn-blue-outline {
  @include button-variant( $brand-blue, white, $brand-blue);
  &:hover {
    border-color: $brand-blue;
    background-color: $brand-pink;
    color: #fff;
  }
}
.btn-outline-blue {
  @include button-variant( $brand-blue, transparent, $brand-blue);
}
// end btn classes

// classes
.custom-checkbox {
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -999px;
  }
  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label {
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  /* checkbox aspect */
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    content: '';
    @include square(20px);
    border: 1px solid $brand-cyan;
    border-radius: 4px;
    display: inline-block;
    background-color: transparent;
    @include transition(all 300ms linear);
  }
  /* checked mark aspect */
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    @include square(20px);
    color: #b7b7b7;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    text-align: center;
    @include transition(all 300ms linear);
  }
  [type="checkbox"]:checked + label:after {
    color: $brand-pink;
    @include transition(all 300ms linear);
  }
}
// classes end

// header
header {
  padding: 10px 20px 0;
  position: relative;
  z-index: 10;
}
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
}
.hamburger {
  margin: 10px 0;
  span {
    @include size(22px,3px);
    margin-bottom: 4px;
    display: block;
    background-color: $brand-pink;
  }
}
.search {
  margin: 2px 10px 2px 13px;
  input {
    width: 360px;
    padding: 6px 10px 6px 25px;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #17213e;
    border-left: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    background: url('../img/search-icon.png') no-repeat 0 50%;
    &:focus {
      outline: none;
      border-color: #17213e;
    }
  }
}
.user-detail {
  .list-inline {
    margin: 0;
  }
  .list-inline > li {
    padding: 0 15px;
    font-size: 16px;
    &:last-child {
      padding: 0 0 0 15px;
    }
  }
  a {
    color: #80879a;
  }
}
.user-img {
  width: 40px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}
// end header
// comment and share
.share-comment-main  {
  .task-holder {
    .like-button-icon { font-size: 22px; }
    li {
      &:first-child { padding: 0 15px 0 5px; }
      padding: 0px 15px;
      vertical-align: top;
    }
  }
  .view-comment-list {
    margin-bottom: 20px;
  }
  .share-option-main {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  .like-review-main {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
  .like-review-holder {
    margin-top: 7px;
  }
  .like-holder, .review-holder {
    margin-right: 30px;
    display: inline-block;
  }
  .commenter-imgholder {
    width: 34px;
    height: 37px;
    border: 2px solid #fff;
    border-radius: 13px;
    box-shadow: 0px 2px 3px #ccc;
    overflow: hidden;
    img { min-height: 100%; }
  }
  .comment-list-holder {
    padding: 15px 0px 0px;
  }
  .commenter-img {
    width: 5%;
    display: inline-block;
    vertical-align: top;
  }
  .comment-container {
    width: 95%;
    margin-left: -4px;
    display: inline-block;
    vertical-align: top;
  }
  .write-comment-text { margin-bottom: 10px; }
  .comment-ur-text {
    width: 95%;
    margin-left: -4px;
    display: inline-block;
    vertical-align: bottom;
    textarea {
      border: none;
      border-bottom: 2px solid $brand-dark-blue;
      padding: 0 10px;
      color: $brand-dark-blue;
      line-height: 100%;
    }
  }
  .commenter-text {
    color: #787878;
    @extend .avenir-roman;
  }
  .like-reply-line {
    margin-top: 5px;
    font-size: 13px;
  }
  .share-social-holder {
    .list-inline > li:last-child { padding-right: 0; }
  }
}
// comment and share end
// blog
.social-field-types {
  padding: 0 10px;
}
.user-social-item {
  padding: 12px 0 20px;
  border-bottom: 1px solid $brand-grey;
  li {
    display: inline-block;
    padding: 0 10px;
    &:first-child {
      padding: 0 10px 0 0;
      i {
        font-size: 18px;
        vertical-align: bottom;
      }
    }
  }
}
.social-likes-reviews {
  padding: 15px 0;
  font-size: 12px;
}
.blog-banner-header {
  z-index: 1;
}
.heading-blog {
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px #6b6b6b;
}
.archives-blog-select,
.category-blog-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: "avenir-roman";
}
.view-blog-category {
  width: 290px;
  min-height: 40px;
  padding: 10px 20px;
  display: inline-block;
  background-color: rgba(252,245,230,0.9);
  .blog-icon {
    padding-right: 10px;
    border-right: 1px solid #424242;
    margin-right: 10px;
    line-height: 13px;
  }
}
.blog-category-list {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(252,245,230,0.9);
  ul {
    height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  li {
    padding: 10px 25px;
    border-bottom: 1px solid #424242;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: #424242;
      display: block;
    }
  }
  ::-webkit-scrollbar-thumb {
    background-color: #424242;
  }
}
.blog-archives-list {
  @extend .blog-category-list;
}
.go-button {
  display: inline-block;
  button {
    min-height: 40px;
    margin-left: -4px;
    border-radius: 0;
  }
}
.view-blog-archives {
  width: 210px;
  @extend .view-blog-category;
}
.blog-page-content {
  padding-top: 30px;
}
.box-imgholder {
  width: 395px;
  overflow: hidden;
}
.blog-post {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px 0;
  overflow: hidden;
}
.post-descp {
  width: 100%;
  padding: 10px;
  @include position(absolute,null null 0 0);
  background-color: rgba(0,0,0,0.6);
  .post-title {
    margin: 8px 0;
    font-size: 17px;
  }
  .post-journey-type {
    span {
      padding: 3px 10px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-left: -10px;
      background-color: $brand-dark-blue;
    }
  }
  .post-date {
    font-size: 11px;
  }
}
.popular-blog-section {
  padding-bottom: 10px;
  border-bottom: 2px solid #ebebeb;
  h4 {
    margin: 10px 0 20px;
  }
}
.aside-heading {
  margin: 0 0 20px;
}
.popular-blog {
  border-radius: 6px;
  margin-bottom: 20px;
  overflow: hidden;
}
.popular-post-desc {
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  h4 {
    height: 34px;
    margin: 0;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
  }
}
.popular-post-type {
  position: absolute;
  top: 20px;
  span {
    padding: 3px 15px;
  }
}
.post-left span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.post-right {
  right: 0;
  span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
.categories,
.facebook,
.instagram,
.pinterest,
.social-media,
.twitter {
  padding: 25px 0;
  border-bottom: 2px solid #ebebeb;
}
.advertise-section {
  padding: 25px 0;
}
.social-media {
  text-align: center;
  li {
    margin: 15px;
    display: inline-block;
    font-size: 17px;
    a {
      color: #424242;
    }
  }
}
.blog-filter-checkbox {
  margin: 12px 0;
  label {
    color: $brand-dark-blue;
    font-size: 15px;
  }
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    border: 1px solid $brand-dark-blue;
    vertical-align: middle;
    margin-right: 10px;
  }
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    top: 2px;
  }
  [type="checkbox"]:checked + label:after {
    color: $brand-dark-blue;
  }
}
.categories .more {
  color: $brand-dark-blue;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
// blog end
// blog detail
.blog-main-detail {
  padding: 30px 0;
}
.blog-detail-heading {
  .post-date {
    margin: 10px 0;
    font-size: 12px;
  }
}
.blog-journey-type {
  padding: 0 25px 5px 0;
  border-bottom: 1px solid $brand-pink;
  color: $brand-pink;
  font-size: 15px;
}
.journey-social {
  margin: 20px 0;
}
.blog-detail-descp {
  margin-bottom: 30px;
}
.blog-journey-detail {
  padding: 30px 50px;
  p {
    color: #424242;
    font-size: 17px;
    text-align: justify;
  }
}
.social-share li {
  vertical-align: top;
  i {
    color: #999;
    @include transition(all 300ms linear);
    &:hover {
      color: $brand-pink;
      @include transition(all 300ms linear);
    }
  }
}
.social-share {
  .travel-icon {
    .icon-pink {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    &:hover {
      .icon-pink {
        opacity: 1;
      }
      .icon-grey {
        opacity: 0;
      }
    }
  }
}
.blog-chat li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  &:first-child i {
    font-size: 21px;
  }
  &:last-child span {
    margin-top: 2px;
    display: inline-block;
  }
}
.blog-social-field {
  padding: 0 50px;
  .blog-social-item {
    padding: 0px 0px 20px;
    border-bottom: 2px solid #dcdcdc;
    margin: 0px 0px 15px;
  }
  .blog-chat { margin-top: 4px; }
}
.editor-logo {
  margin-top: -30px;
  margin-right: 15px;
  display: inline-block;
}
.editor-subdetail {
  width: 70%;
  font-size: 12px;
}
.recent-blog {
  padding: 30px 0;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  margin: 30px 0;
  .recent-blog-imgholder {
    width: 200px;
    height: 130px;
    border-radius: 6px;
    overflow: hidden;
  }
  h4 {
    font-size: 14px;
  }
}
.previous-blog {
  .recent-blog-detail {
    margin: 40px 0 0 15px;
  }
}
.next-blog {
  .recent-blog-detail {
    margin: 40px 15px 0 0;
  }
}
.blog-view {
  margin-bottom: 10px;
  span {
    font-size: 18px;
  }
  .icon {
    font-size: 19px;
  }
}
.you-may-like {
  h3 {
    margin: 0 0 25px;
  }
}
.blog-itineraries-main {
  margin-top: 40px;
  .blog-post {
    overflow: visible;
  }
  .blog-detail-pop { min-width: 390px; }
  .masonry-brick {
    margin-bottom: 15px;
  }
}
.blog-comment {
  .share-comment-main {
    .commenter-img { width: 6%; }
    .comment-container { width: 94%; }
    .comment-ur-text { width: 94%; }
  }
}
.travelled-imgholder {
  height: 440px;
  overflow: hidden;
}
.onway-imgholder {
  height: 330px;
  overflow: hidden;
  img {
    min-height: 100%;
  }
}
.travel-life-part {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}
.travel-journey-heading {
  padding: 10px;
  color: $brand-grey;
}
.country-visited {
  @include position(absolute, -10px 10px null null);
  img {
    margin-left: -10px;
  }
  span {
    margin-left: -18px;
    display: inline-block;
    font-size: 19px;
    color: #fcfcfc;
    text-shadow: 1px 1px 1px #000;
    vertical-align: middle;
  }
}
.journey-tag-holder {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  a {
    color: #fff;
  }
  h3,
  h4 {
    padding: 12px 0;
  }
  .journey-travelling-type {
    margin-bottom: -20px;
  }
}
.journey-type {
  vertical-align: top;
  li {
    padding: 0 5px;
  }
}
.journey-cost {
  display: inline-block;
  vertical-align: top;
  span {
    margin: 0 20px;
    font-size: 15px;
  }
}
.days-spent {
  @include size(45px,48px);
  border-radius: 18px;
  display: inline-block;
  position: relative;
  bottom: 10px;
  background-color: $brand-dark-blue;
  p {
    padding-top: 8px;
    font-size: 10px;
    text-align: center;
    span {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
.journey-collection {
  li {
    padding: 0 10px;
    border-right: 1px solid #fff;
    line-height: 12px;
    &:first-child {
      padding: 0 10px 0 0;
    }
  }
}
// blog detail end
