<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travelibro - Blog-Detail</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link href="sass/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/masonry/dist/masonry.pkgd.js"></script>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  <script src="js/myscript.js"></script>
</head>
<body>
  <header class="bg-dark-blue">
    <nav class="navbar">
      <div class="container-fluid">
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-4">
            <div class="header-left">
              <div class="hamburger pointer inline-block">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
              <div class="search inline-block v-top">
                <form action="">
                  <input type="text" class="form-control" placeholder="Search people, destinations, itineraries, agents and tags">
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <h1 class="text-center logo m-clear"><a href="" ui-sref="home"><img src="img/travel-logo.png" alt="" class="img-responsive m-center" width="110"></a></h1>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-4 user-header-detail">
            <div class="user-detail text-right">
              <ul class="list-inline">
                <li>
                  <a href="">
                    <div class="user-img inline-block v-mid">
                    <img src="img/profile.jpg" alt="" width="40" class="img-responsive">
                  </div>
                  <span class="color-white ml10 fz13">Activity</span>
                </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-bell"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-cog"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a> -->
      </div>
      </div>
      <!-- <div class="collapse navbar-collapse" id="nav-collapse">
             <div ng-include="template.menu" class="template menu"></div>
      </div> -->
    </nav>
  </header>
<main>
  <div class="blog-main-detail bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="blog-detail-content">
            <!-- blog post -->
            <div class=""><!--- post in blogPostDetail repeat-->
              <div class="blog-detail-heading">
                <h3 class="color-blue avenir-heavy m-clear">Best Holiday Destinations For Girl - Gangs</h3>
                <div class="post-date">
                  <p class="color-light-grey m-clear avenir-roman"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan, 2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span class="mr5">1:20 pm</span></p>
                </div>
                <div class="clearfix journey-social">
                  <div class="pull-left">
                    <span class="blog-journey-type">Luxury</span>
                  </div>
                  <div class="pull-right">
                    <ul class="list-inline social-share">
                      <!-- <li>
                        <a href="" class="inline-block travel-icon relate">
                          <img src="img/blog/travelibro-icon-grey.png" alt="" class="icon-grey">
                          <img src="img/blog/travelibro-icon.png" alt="" class="icon-pink">
                        </a>
                      </li> -->
                      <li><a href="" class="inline-block fb-icon "><i class="fa fa-facebook-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block twi-icon "><i class="fa fa-twitter-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block google-icon "><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block pin-icon "><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block insta-icon "><i class="fa fa-instagram fa-2x"></i></a></li>
                      <li><a href="" class="inline-block mail-icon "><i class="fa fa-envelope-square fa-2x"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="blog-detail-descp"> <!--"list in post.journeyList"-->
                <div class="blog-journey-imgholder">
                  <img src="img/blog/journey-post.jpg" alt="" class="img-responsive">
                </div>
                <div class="blog-journey-detail">
                  <h4 class="color-pink"><span class="avenir-light">Dublin</span>, <span class="avenir-light">Ireland</span></h4>
                  <p class="avenir-light">Going on a holiday with family is always fun. But sometimes you need to get way from all that family drama and have a girls-only weekend. Going on a shopping spree, enjoying spas together, drinking &amp; partying all night or just lazing on the beach – nothing can beat that when you are with your girl-gang. So ladies, grab your lipstick and heels and get ready for some seriously sassy getaway with our list of 10 best holiday destinations for girl-gangs:</p>
                </div>
              </div>
              <div class="blog-detail-descp">
                <div class="blog-journey-imgholder">
                  <img src="img/blog/journey-post2.jpg" alt="" class="img-responsive">
                </div>
                <div class="blog-journey-detail">
                  <h4 class="color-pink"><span class="avenir-light">Dublin</span>, <span class="avenir-light">Ireland</span></h4>
                  <p class="avenir-light">Going on a holiday with family is always fun. But sometimes you need to get way from all that family drama and have a girls-only weekend. Going on a shopping spree, enjoying spas together, drinking &amp; partying all night or just lazing on the beach – nothing can beat that when you are with your girl-gang. So ladies, grab your lipstick and heels and get ready for some seriously sassy getaway with our list of 10 best holiday destinations for girl-gangs:</p>
                </div>
              </div>
              <div class="blog-detail-descp">
                <div class="blog-journey-imgholder">
                  <img src="img/blog/journey-post3.jpg" alt="" class="img-responsive">
                </div>
                <div class="blog-journey-detail">
                  <h4 class="color-pink"><span class="avenir-light">Dublin</span>, <span class="avenir-light">Ireland</span></h4>
                  <p class="avenir-light">Going on a holiday with family is always fun. But sometimes you need to get way from all that family drama and have a girls-only weekend. Going on a shopping spree, enjoying spas together, drinking &amp; partying all night or just lazing on the beach – nothing can beat that when you are with your girl-gang. So ladies, grab your lipstick and heels and get ready for some seriously sassy getaway with our list of 10 best holiday destinations for girl-gangs:</p>
                </div>
              </div>
              <div class="blog-detail-descp">
                <div class="blog-journey-imgholder">
                  <img src="img/blog/journey-post4.jpg" alt="" class="img-responsive">
                </div>
                <div class="blog-journey-detail">
                  <h4 class="color-pink"><span class="avenir-light">Dublin</span>, <span class="avenir-light">Ireland</span></h4>
                  <p class="avenir-light">Going on a holiday with family is always fun. But sometimes you need to get way from all that family drama and have a girls-only weekend. Going on a shopping spree, enjoying spas together, drinking &amp; partying all night or just lazing on the beach – nothing can beat that when you are with your girl-gang. So ladies, grab your lipstick and heels and get ready for some seriously sassy getaway with our list of 10 best holiday destinations for girl-gangs:</p>
                </div>
              </div>
            </div>
            <div class="blog-social-field">
              <div class="blog-social-item clearfix">
                <div class="pull-left">
                  <div class="blog-chat">
                    <ul class="list-inline">
                      <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                      <li>
                        <a href=""><img src="img/comments.png" alt="" height="21"></a>
                      </li>
                      <li>
                        <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i>15600 Likes</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="inline-block">
                    <ul class="list-inline social-share">
                      <!-- <li>
                        <a href="" class="inline-block travel-icon relate">
                          <img src="img/blog/travelibro-icon-grey.png" alt="" class="icon-grey">
                          <img src="img/blog/travelibro-icon.png" alt="" class="icon-pink">
                        </a>
                      </li> -->
                      <li><a href="" class="inline-block fb-icon"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block twi-icon"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block google-icon"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block pin-icon"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                      <li><a href="" class="inline-block insta-icon"><i class="fa fa-instagram fa-2x"></i></a></li>
                      <li><a href="" class="inline-block mail-icon"><i class="fa fa-envelope-square fa-2x"></i></a></li>
                    </ul>
                  </div>
                  <!-- <div class="inline-block ml10 v-top">
                    <span><img src="img/options.png" alt="" height="18" class="mt5"></span>
                  </div> -->
                </div>
              </div>
              <!-- chat part -->
              <div class="blog-comment">
                <div class="share-comment-main">
                  <!-- comment list -->
                  <div class="comment-list-holder">
                    <div class="view-comment-list">
                      <div class="commenter-img">
                        <div class="commenter-imgholder">
                          <img src="img/adrena.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="comment-container">
                        <div class="commenter-text text-justify">
                          <p class="avenir-roman"><span class="commenter-name avenir-heavy color-blue mr5">Andrea Christina</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          <div class="like-reply-line">
                            <span class="color-blue avenir-roman mr5 pointer">Like</span>
                            <span class="color-blue avenir-roman mr5 pointer">Reply</span>
                            <span class="time-stamp ml5 avenir-roman"><i class="fa fa-calendar color-grey mr5"></i><span>14 Jan, 2016</span> | <i class="fa fa-clock-o mr5 color-grey"></i><span>01:20 pm</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="write-comment-text">
                      <div class="commenter-img">
                        <div class="commenter-imgholder">
                          <img src="img/profile.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="comment-ur-text">
                        <textarea name="" id="" placeholder="Write a comment" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="clearfix comment-post">
                      <div class="pull-right">
                        <button class="btn btn-pink post-btn">Post</button>
                      </div>
                    </div>
                  </div>
                  <!-- comment list end -->
                </div>
              </div>
              <!-- chat part end -->
            </div>
            <!-- blog post end -->
            <!-- recent blog -->
            <div class="recent-blog">
              <div class="previous-next-strip clearfix">
                <div class="pull-left">
                  <div class="blog-view">
                    <span class="icon mr5 pointer"><i class="fa fa-chevron-left"></i></span>
                    <span class=" pointer">Previous Blog</span>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="blog-view">
                    <span class="pointer">Next Blog</span>
                    <span class="icon ml5 pointer"><i class="fa fa-chevron-right"></i></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="previous-blog">
                    <div class="row-flex">
                      <div class="col-flex">
                        <div class="recent-blog-imgholder pointer">
                        <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                      </div>
                    </div>
                      <div class="col-flex">
                        <div class="recent-blog-detail pointer avenir-roman">
                          <span class="color-pink">Luxury</span>
                          <h4 class="blog-heading">PLACES TO SHOP FOR KIDS THAT YOU’LL WISH...</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="next-blog text-right">
                    <div class="row-flex">
                      <div class="col-flex">
                        <div class="recent-blog-detail pointer avenir-roman">
                          <span class="color-pink">Luxury</span>
                          <h4 class="blog-heading">PLACES TO SHOP FOR KIDS THAT YOU’LL WISH...</h4>
                        </div>
                      </div>
                      <div class="col-flex">
                        <div class="recent-blog-imgholder pointer">
                          <img src="img/blog/popular-blog1.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- recent blog end-->
            <!-- you may also like -->
            <div class="you-may-like">
              <h3 class="color-light-grey avenir-roman">You May Also Like</h3>
              <div class="grid">
                <div class="row">
                  <div class=" masonry-brick col-md-6 col-sm-6 grid-item"><!--ng-repeat="post in blogPost"--->
                    <div class="blog-post">
                      <div class="relate">
                        <div class="box-imgholder">
                          <img src="img/blog/blog-post.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="post-descp">
                          <div class="post-journey-type"><span class="inline-block color-white avenir-roman">Luxury</span></div>
                          <h3 class="post-title color-white avenir-heavy">BEST HOLIDAY DESTINATIONS FOR GIRL-GANGS</h3>
                          <div class="post-date">
                            <p class="color-white m-clear avenir-roman"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan,2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span class="mr5">1:20 pm</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="social-field-types travel-life-part">
                        <div class="user-social-item clearfix">
                          <div class="pull-left">
                            <ul>
                              <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                              <li>
                                <a href=""><img src="img/comments.png" alt="" height="18"></a>
                              </li>
                              <li>
                                <a href=""><img src="img/share.png" alt="" height="18"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="pull-right">
                            <div class="">
                              <span><img src="img/options.png" alt="" height="18"></span>
                            </div>
                          </div>
                        </div>
                        <div class="social-likes-reviews avenir-heavy">
                          <div class="clearfix">
                            <div class="pull-left">
                              <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                              <!-- <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{post.reviews}} ({{post.pointReview}}/5)</span> -->
                            </div>
                            <!-- <div class="pull-right">
                                  <img src="img/travel.png" alt="">
                                </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" masonry-brick col-md-6 col-sm-6 grid-item">
                    <div class="blog-post">
                      <div class="relate">
                        <div class="box-imgholder">
                          <img src="img/blog/blog-post2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="post-descp">
                          <div class="post-journey-type"><span class="inline-block color-white avenir-roman">Luxury</span></div>
                          <h3 class="post-title color-white avenir-heavy">Best cycling tours in the world</h3>
                          <div class="post-date">
                            <p class="color-white m-clear avenir-roman"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan,2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span class="mr5">1:20 pm</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="social-field-types travel-life-part">
                        <div class="user-social-item clearfix">
                          <div class="pull-left">
                            <ul>
                              <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                              <li>
                                <a href=""><img src="img/comments.png" alt="" height="18"></a>
                              </li>
                              <li>
                                <a href=""><img src="img/share.png" alt="" height="18"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="pull-right">
                            <div class="">
                              <span><img src="img/options.png" alt="" height="18"></span>
                            </div>
                          </div>
                        </div>
                        <div class="social-likes-reviews avenir-heavy">
                          <div class="clearfix">
                            <div class="pull-left">
                              <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                              <!-- <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{post.reviews}} ({{post.pointReview}}/5)</span> -->
                            </div>
                            <!-- <div class="pull-right">
                                  <img src="img/travel.png" alt="">
                                </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" masonry-brick col-md-6 col-sm-6 grid-item">
                    <div class="blog-post">
                      <div class="relate">
                        <div class="box-imgholder">
                          <img src="img/blog/blog-post3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="post-descp">
                          <div class="post-journey-type"><span class="inline-block color-white avenir-roman">Road Trip</span></div>
                          <h3 class="post-title color-white avenir-heavy">Ten Gorgeous European Summer Island Holidays</h3>
                          <div class="post-date">
                            <p class="color-white m-clear avenir-roman"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan,2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span class="mr5">1:20 pm</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="social-field-types travel-life-part">
                        <div class="user-social-item clearfix">
                          <div class="pull-left">
                            <ul>
                              <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                              <li>
                                <a href=""><img src="img/comments.png" alt="" height="18"></a>
                              </li>
                              <li>
                                <a href=""><img src="img/share.png" alt="" height="18"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="pull-right">
                            <div class="">
                              <span><img src="img/options.png" alt="" height="18"></span>
                            </div>
                          </div>
                        </div>
                        <div class="social-likes-reviews avenir-heavy">
                          <div class="clearfix">
                            <div class="pull-left">
                              <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                              <!-- <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{post.reviews}} ({{post.pointReview}}/5)</span> -->
                            </div>
                            <!-- <div class="pull-right">
                                  <img src="img/travel.png" alt="">
                                </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" masonry-brick col-md-6 col-sm-6 grid-item">
                    <div class="blog-post">
                      <div class="relate">
                        <div class="box-imgholder">
                          <img src="img/blog/blog-post4.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="post-descp">
                          <div class="post-journey-type"><span class="inline-block color-white avenir-roman">Adventure</span></div>
                          <h3 class="post-title color-white avenir-heavy">Museums And Cathedrals To Cover In Eastern Europe</h3>
                          <div class="post-date">
                            <p class="color-white m-clear avenir-roman"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan,2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span class="mr5">1:20 pm</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="social-field-types travel-life-part">
                        <div class="user-social-item clearfix">
                          <div class="pull-left">
                            <ul>
                              <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                              <li>
                                <a href=""><img src="img/comments.png" alt="" height="18"></a>
                              </li>
                              <li>
                                <a href=""><img src="img/share.png" alt="" height="18"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="pull-right">
                            <div class="">
                              <span><img src="img/options.png" alt="" height="18"></span>
                            </div>
                          </div>
                        </div>
                        <div class="social-likes-reviews avenir-heavy">
                          <div class="clearfix">
                            <div class="pull-left">
                              <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                              <!-- <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{post.reviews}} ({{post.pointReview}}/5)</span> -->
                            </div>
                            <!-- <div class="pull-right">
                                  <img src="img/travel.png" alt="">
                                </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- you may also like end -->
            <!-- Popular itineraries -->
            <div class="blog-popular-itineraries">
              <div class="">
                <h3 class="color-grey avenir-roman">Popular Itineraries</h3>
                <div class="blog-itineraries-main grid">
                  <div class="row">
                    <div class="masonry-brick col-md-6 col-sm-6 grid-item "> <!---ng-repeat="life in travelLife"-->
                      <div class="travel-life-part blog-post avenir-roman blog-detail-pop">
                        <div class="travel-journey-heading">
                          <div class="editor-logo">
                            <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                          </div>
                          <div class="inline-block editor-subdetail">
                            <h3 class="font-bold color-dark-blue m-clear mb5">Editor</h3>
                            <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan, 2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>01:20 pm</span></p>
                          </div>
                        </div>
                        <div class="onway-journey relate">
                          <div class="onway-imgholder">
                            <img src="img/paris.jpg" alt="" class="img-responsive m-center">
                          </div>
                          <div class="country-visited">
                            <img src="img/india-visit.png" alt="" height="30">
                            <img src="img/england-visit.png" alt="" height="30">
                            <img src="img/canada-visit.png" alt="" height="30">
                            <span class="">+4</span>
                          </div>
                          <div class="journey-tag-holder">
                            <h3 class="m-clear text-capitalize">love in paris</h3>
                            <div class="clearfix journey-travelling-type">
                              <div class="pull-left">
                                <div class="journey-type">
                                  <ul>
                                    <li>
                                      <a href=""><img src="img/sunset.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/bag-journey.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/luxury-journey.png" alt="" height="20"></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pull-right">
                                <div class="journey-cost">
                                  <span>$10,000</span>
                                </div>
                                <div class="days-spent">
                                  <p><span class="block">75</span>Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                                <li>
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/share.png" alt="" height="18"></a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span><img src="img/options.png" alt="" height="18" class="pointer"></span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews avenir-heavy">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                                <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">354 Reviews (4.5/5)</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="masonry-brick col-md-6 col-sm-6 grid-item">
                      <div class="travel-life-part blog-post blog-detail-pop avenir-roman">
                        <div class="travel-journey-heading">
                          <div class="editor-logo">
                            <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                          </div>
                          <div class="inline-block editor-subdetail">
                            <h3 class="font-bold color-dark-blue m-clear mb5">Editor</h3>
                            <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan, 2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>01:20 pm</span></p>
                          </div>
                        </div>
                        <div class="onway-journey relate">
                          <div class="onway-imgholder">
                            <img src="img/paris.jpg" alt="" class="img-responsive m-center">
                          </div>
                          <div class="country-visited">
                            <img src="img/india-visit.png" alt="" height="30">
                            <img src="img/england-visit.png" alt="" height="30">
                            <img src="img/canada-visit.png" alt="" height="30">
                            <span class="">+4</span>
                          </div>
                          <div class="journey-tag-holder">
                            <h3 class="m-clear text-capitalize">love in paris</h3>
                            <div class="clearfix journey-travelling-type">
                              <div class="pull-left">
                                <div class="journey-type">
                                  <ul>
                                    <li>
                                      <a href=""><img src="img/sunset.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/bag-journey.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/luxury-journey.png" alt="" height="20"></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pull-right">
                                <div class="journey-cost">
                                  <span>$10,000</span>
                                </div>
                                <div class="days-spent">
                                  <p><span class="block">75</span>Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                                <li>
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/share.png" alt="" height="18"></a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span><img src="img/options.png" alt="" height="18" class="pointer"></span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews avenir-heavy">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                                <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">354 Reviews (4.5/5)</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="masonry-brick col-md-6 col-sm-6 grid-item">
                      <div class="travel-life-part blog-post blog-detail-pop avenir-roman">
                        <div class="travel-journey-heading">
                          <div class="editor-logo">
                            <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                          </div>
                          <div class="inline-block editor-subdetail">
                            <h3 class="font-bold color-dark-blue m-clear mb5">Editor</h3>
                            <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan, 2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>01:20 pm</span></p>
                          </div>
                        </div>
                        <div class="onway-journey relate">
                          <div class="onway-imgholder">
                            <img src="img/paris.jpg" alt="" class="img-responsive m-center">
                          </div>
                          <div class="country-visited">
                            <img src="img/india-visit.png" alt="" height="30">
                            <img src="img/england-visit.png" alt="" height="30">
                            <img src="img/canada-visit.png" alt="" height="30">
                            <span class="">+4</span>
                          </div>
                          <div class="journey-tag-holder">
                            <h3 class="m-clear text-capitalize">love in paris</h3>
                            <div class="clearfix journey-travelling-type">
                              <div class="pull-left">
                                <div class="journey-type">
                                  <ul>
                                    <li>
                                      <a href=""><img src="img/sunset.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/bag-journey.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/luxury-journey.png" alt="" height="20"></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pull-right">
                                <div class="journey-cost">
                                  <span>$10,000</span>
                                </div>
                                <div class="days-spent">
                                  <p><span class="block">75</span>Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                                <li>
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/share.png" alt="" height="18"></a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span><img src="img/options.png" alt="" height="18" class="pointer"></span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews avenir-heavy">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                                <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">354 Reviews (4.5/5)</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="masonry-brick col-md-6 col-sm-6 grid-item">
                      <div class="travel-life-part blog-post blog-detail-pop avenir-roman">
                        <div class="travel-journey-heading">
                          <div class="editor-logo">
                            <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                          </div>
                          <div class="inline-block editor-subdetail">
                            <h3 class="font-bold color-dark-blue m-clear mb5">Editor</h3>
                            <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">14 Jan, 2014</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>01:20 pm</span></p>
                          </div>
                        </div>
                        <div class="onway-journey relate">
                          <div class="onway-imgholder">
                            <img src="img/paris.jpg" alt="" class="img-responsive m-center">
                          </div>
                          <div class="country-visited">
                            <img src="img/india-visit.png" alt="" height="30">
                            <img src="img/england-visit.png" alt="" height="30">
                            <img src="img/canada-visit.png" alt="" height="30">
                            <span class="">+4</span>
                          </div>
                          <div class="journey-tag-holder">
                            <h3 class="m-clear text-capitalize">love in paris</h3>
                            <div class="clearfix journey-travelling-type">
                              <div class="pull-left">
                                <div class="journey-type">
                                  <ul>
                                    <li>
                                      <a href=""><img src="img/sunset.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/bag-journey.png" alt="" height="20"></a>
                                    </li>
                                    <li>
                                      <a href=""><img src="img/luxury-journey.png" alt="" height="20"></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pull-right">
                                <div class="journey-cost">
                                  <span>$10,000</span>
                                </div>
                                <div class="days-spent">
                                  <p><span class="block">75</span>Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                                <li>
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/share.png" alt="" height="18"></a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span><img src="img/options.png" alt="" height="18" class="pointer"></span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews avenir-heavy">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                                <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">354 Reviews (4.5/5)</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popular itineraries end-->
          </div>
        </div>
        <div class="col-md-3">
          <aside>
            <div class="popular-blog-section">
              <h4 class="color-light-grey text-center avenir-roman">Popular Blog's</h4>
              <div class="popular-blog relate"> <!--for loop-->
                <div class="popular-imgholder">
                  <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                </div>
                <div class="popular-post-type post-left">
                  <span class="inline-block color-white bg-dark-blue">Luxury</span>
                </div>
                <div class="popular-post-type post-right hide">
                  <span class="inline-block color-white bg-pink">Luxury</span>
                </div>
                <div class="popular-post-desc">
                  <h4 class="text-uppercase avenir-roman">PLACES TO SHOP FOR KIDS THATYOU’LL WISH YOU KNEW ABO</h4>
                </div>
              </div>
              <div class="popular-blog relate"> <!--for loop-->
                <div class="popular-imgholder">
                  <img src="img/blog/popular-blog1.jpg" alt="" class="img-responsive">
                </div>
                <div class="popular-post-type post-left hide">
                  <span class="inline-block color-white bg-dark-blue">Luxury</span>
                </div>
                <div class="popular-post-type post-right ">
                  <span class="inline-block color-white bg-pink">Luxury</span>
                </div>
                <div class="popular-post-desc">
                  <h4 class="text-uppercase avenir-roman">PLACES TO SHOP FOR KIDS THATYOU’LL WISH YOU KNEW ABO</h4>
                </div>
              </div>
              <div class="popular-blog relate"> <!--for loop-->
                <div class="popular-imgholder">
                  <img src="img/blog/popular-blog2.jpg" alt="" class="img-responsive">
                </div>
                <div class="popular-post-type post-left">
                  <span class="inline-block color-white bg-dark-blue">Luxury</span>
                </div>
                <div class="popular-post-type post-right hide">
                  <span class="inline-block color-white bg-pink">Luxury</span>
                </div>
                <div class="popular-post-desc">
                  <h4 class="text-uppercase avenir-roman">PLACES TO SHOP FOR KIDS THATYOU’LL WISH YOU KNEW ABO</h4>
                </div>
              </div>
            </div>
            <div class="categories">
              <h4 class="color-light-grey text-center avenir-roman aside-heading">Categories</h4>
              <div class="blog-filter avenir-light">
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="beach">
                  <label for="beach">Beach &amp; Party</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Adventure">
                  <label for="Adventure">Adventure</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Romance">
                  <label for="Romance">Romance</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Food">
                  <label for="Food">Food</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Festivals">
                  <label for="Festivals">Festivals</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Shopping">
                  <label for="Shopping">Shopping</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Hotels">
                  <label for="Hotels">Hotels</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Countries &amp; Cities">
                  <label for="Countries &amp; Cities">Countries &amp; Cities</label>
                </div>
                <div class="blog-filter-checkbox custom-checkbox">
                  <input type="checkbox" id="Road Trips">
                  <label for="Road Trips">Road Trips</label>
                </div>
              </div>
              <span class="more avenir-light">More +23</span>
            </div>
            <div class="plugins-social">
              <div class="pinterest">
                <h4 class="color-light-grey text-center avenir-roman aside-heading">Pinterest</h4>
                <div class="plugin-pinterest">
                  <a data-pin-do="embedUser" data-pin-board-width="900" data-pin-scale-height="220" data-pin-scale-width="130" href="https://www.pinterest.com/travelibro/"></a>
                </div>
              </div>
              <div class="facebook">
                <h4 class="color-light-grey text-center avenir-roman aside-heading">Facebook</h4>
                <div class="plugin-fb">
                  <div class="fb-page" data-href="https://www.facebook.com/travelibro/" data-tabs="timeline" data-height="335" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/travelibro/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/travelibro/">Travelibro</a></blockquote></div>
                </div>
              </div>
              <div class="twitter">
                <h4 class="color-light-grey text-center avenir-roman aside-heading">Twitter</h4>
                  <div class="plugin-twitter">
                    <a class="twitter-timeline"  href="https://twitter.com/travelibro" data-widget-id="692273446991073280">Tweets by @travelibro</a>
                  </div>
              </div>
              <div class="instagram">
                <h4 class="color-light-grey text-center avenir-roman aside-heading">Instagram</h4>
                <div class="instagram-plugin">
                  <iframe src="//lightwidget.com/widgets/8c4198555d555907a70ac0f6bcb4c5f8.html" id="lightwidget_8c4198555d" name="lightwidget_8c4198555d"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
              </div>
            </div>
            <div class="social-media">
              <h4 class="color-light-grey text-center avenir-roman aside-heading">Social Media</h4>
              <ul>
                <li><a href="" target="_blank" class="fb-icon"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="twi-icon"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="linkedin-icon"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="pin-icon"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="google-icon"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="youtube-icon"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                <li><a href="" target="_blank" class="insta-icon"><i class="fa fa-instagram fa-2x"></i></a></li>
              </ul>
            </div>
            <div class="advertise-section">
              <img src="img/blog/advertise.png" alt="Advertise" class="img-responsive">
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
